<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0">
          <img
            class="h-8 w-auto"
            src="../../../../assets/images/logo-alaga.png"
            alt="Logo"
          />
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
        </div>
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
      </div>
    </div>
  </div>
</header>
